.funding-page-template {
  /* display: flex; */
  /* justify-content: center; */
  margin: auto;
  width: 50%;
  /* width: 100%; */
}

.funding-page--title {
  text-align: center;
}

.funding-page--info {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.funding-page--carousel {
  margin-top: 15px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.slide-title {
  font-size: 30px;
  background: rgba(25, 118, 48, 0.8);
  margin-top: 10px;
  line-height: 60px;
  padding: 5px;
}

h2 {
  color: #197630;
  font-weight: bold;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 7px;
    background: rgba(0, 0, 0, .1);
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 40px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-bottom {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-image {
  opacity: 0.8;
}

.donate-button {
  text-decoration: none;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
  background: yellow;
  color: rgba(25, 118, 48, 0.8)
}

.donate-button:hover {
  background: rgba(25, 118, 48, 0.8);
  transition-duration: 0.5s;

}

.donate-button:hover a {
  color: yellow;
  transition-duration: 0.5s;

}

.donate-button a {
  text-decoration: none;
  color: rgba(25, 118, 48, 0.9);
}

.donate-button a:hover{
  /* color: yellow; */
}

.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px;

}

.percantage-circle {
  background: rgba(25, 118, 48, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percantage-icon {
  font-size: 25px;
}

.percantage-icon--small {
  font-weight: bold;
  font-size: 20px;
}

.funding-page--projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 35px;
}

@media only screen and (max-width: 768px) {
  .funding-page--projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
  }
}

.funding-page--element {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  /* margin-left: 35px; */
  margin-top: 35px;
}



.funding-page--element img {
  width: 150px;
}

.funding-page--element-link {
  text-decoration: none;
  color: rgba(25, 118, 48, 0.8);
}

.funding-page--element-link:hover {
  text-decoration: underline;
}

.funding-page--element-container {
  padding: 10px;
  color: rgba(25, 118, 48, 0.8);
  display: flex;
  justify-content: space-around;
}
