.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}

#path3364 {
  stroke-dasharray: 500;
  animation: line 4s linear infinite;
  stroke-width: 5;
  stroke: #16A085;
  stroke-linecap: round;
}

#path3366 {
  stroke-dasharray: 500;
  animation: line 8s linear infinite;
  stroke-width: 3;
  stroke: #16A085;
  stroke-linecap: round;
}

@keyframes line {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

body {
  background: #272C34;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
